@import "./fonts/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --taupe: #3a342d;
    --yellow: #fff174;
    --ivory: #f8f6e7;
    --black: #231e17;
    --cream: #faf9f2;
    --khaki: #a99c86;
    --dutch-white: #fdeeca;
    --white: #fdfdfa;
  }

  :root {
    --signifier-light: "signifierextralight";
    --signifier: "signifier";
    --gro-regular: "scto_grotesk_aregular";
    --gro-italic: "scto_grotesk_aregular_italic";
    --gro-bold: "scto_grotesk_abold";
  }

  address {
    font-style: normal;
  }
}

@layer utilities {
}

/* Layout */

.wrapper, .full-width {
  display: grid;
  grid-template-columns: 

  [full-width-start] .75rem [content-start] minmax(0px,1fr) [content-end] .75rem [full-width-end]; 
}

.content{
  grid-column: content;
}

.full-width {
  grid-column: full-width;
}

.content{
  /* grid-column: 1/-1; */
}

/*  */

/* .hero-bg {
  position: absolute;
  top: 0;
  background-image: url("./images/HeroBg.jpg");
  height: 100vh;
  width: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.comp {
  z-index: -1;
  position: absolute;
  /* top: 0;
  height: 100vh;
  width: 100%; */
  inset: 0;

  background-image: url("./images/HeroBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

/*  */
.swish {
  position: relative;
}

.swish::before {
  content: url("./images/swish.svg");
  position: absolute;
  top: -100%;
  right: 0;
  /* translate: 100%;*/
}

/*  */

.process {
  background-image: url("./images/ProcessBg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas: ". a .";
}

.process > * {
  grid-area: a;
}

.process > div:nth-of-type(1) {
  align-self: center;
}

.process > div:nth-of-type(1) > * {
  min-width: 200px;
}

.process > div:nth-of-type(2) {
  align-self: flex-end;
}

/*  */

.proj-lay1 {
  display: grid;
  grid-template-columns: 3fr 1fr 8fr;
  grid-template-rows: auto max-content;
  grid-template-areas:
    "a b c"
    "d d d";
  align-items: center;
}

.proj-lay1 > div:nth-of-type(1) {
  grid-area: a/a/a/b;
  z-index: 1;
}

.proj-lay1 > div:nth-of-type(2) {
  grid-area: b/b/b/c;
}

.proj-lay1 > .title {
  grid-area: d/b/d/c;
}

.proj-lay2 {
  align-self: flex-end;
  display: grid;
  grid-template-columns: 6fr 1fr 3fr;
  grid-template-rows: auto max-content;
  grid-template-areas:
    "a b c"
    "d d d";
  align-items: center;
  max-width: 768px;
}

.proj-lay2 > div:nth-of-type(1) {
  grid-area: a/a/a/b;
}

.proj-lay2 > div:nth-of-type(2) {
  grid-area: b/b/b/c;
}

.proj-lay2 > .title {
  grid-area: d/a/d/c;
}

/*  */

.list > li:last-child {
  border-bottom: 1px solid var(--khaki);
}

/* Component 1 */
.car-btn {
  height: 1.313rem;
  width: 21px;
  border-radius: 50%;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
